@{
    ViewData["Title"] = "Home Page";
}

<p>Sample question: What equipement would you recommend for a computer workstation setup costing less than $2000?</p>
<!-- Index.cshtml -->
<div class="container">
    <div id="chat-box">
        <div id="messages"></div>
    </div>
    <input type="text" id="user-input" placeholder="Type a message..." style="width: 70%; padding: 10px; border: 1px solid black; border-radius: 5px;" />
    <button onclick="sendMessage()">Send</button>
</div>
